<tr>
  <%= form_for [object.event, object], remote: true do |f| %>
    <td><%= f.text_field :name, class: 'form-control' %></td>
    <td><%= f.number_field :capacity, class: 'form-control', placeholder: 0 %></td>
    <td><%= f.text_field :price, value: number_with_precision(f.object.price, precision: 2), class: 'form-control', placeholder: "0.00" %></td>
    <td><%= form_check_box f, :public %></td>
    <td width="130px"><%= form_check_box f, :member_only %></td>
    <td><div class="checkbox"><%= f.check_box :has_comment %></div></td>
    <td><div class="checkbox"><%= f.check_box :hidden %></div></td>
    <td><%= f.button button_name, class: 'btn btn-sm btn-primary' %></td>
    <%= javascript_tag do %>
      var id = "#<% if button_name == 'Save' %>edit_<% end %><%= dom_id(f.object) %>";
      var inputs = $(id).parent().find('input');

      $(id).parent().find('button').on('click', function(e) {
        e.preventDefault();
        $(id).append(inputs.clone());
        $(id).append('<input type="hidden" name="_method" value="<%= (button_name == 'Save') ? 'put' : 'post'  %>">');
        $(id).submit();
      });
    <% end %>
  <% end %>
</tr>
