<tr>
  <%= form_for [object.event, object], remote: true do |f| %>
    <td><%= f.text_field :name, class: 'form-control' %></td>
    <td><%= f.number_field :capacity, class: 'form-control', placeholder: 0 %></td>
    <td><%= f.text_field :price, value: nice_amount(f.object.price), class: 'form-control', placeholder: "0.00", disabled: f.object.registrations.any? %></td>
    <td width="130px">
      <%= f.collection_select :permit, AccessLevel.permits.keys, :itself, lambda {|k| translate(k)}, {}, class: 'form-control', disabled: f.object.registrations.any? %>
    </td>
    <td><div class="checkbox"><%= f.check_box :has_comment, disabled: f.object.registrations.any? %></div></td>
    <td><div class="checkbox"><%= f.check_box :hidden, disabled: f.object.registrations.any? %></div></td>
    <td><%= f.button button_name, class: 'btn btn-sm btn-primary' %></td>
    <%= javascript_tag do %>
      var id = "#<% if button_name == 'Save' %>edit_<% end %><%= dom_id(f.object) %>";
      var inputs = $(id).parent().find('input');
      var select = $(id).parent().find('select');

      $(id).parent().find('button').on('click', function(e) {
        e.preventDefault();
        $(id).append(inputs.clone());
        $(id).append("<input type='hidden' name='access_level[permit]' value='" + select.val() + "'>");
        $(id).append('<input type="hidden" name="_method" value="<%= (button_name == 'Save') ? 'put' : 'post'  %>">');
        $(id).submit();
      });
    <% end %>
  <% end %>
</tr>
