<!DOCTYPE html>
<html>
  <head>
    <title>Isengard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Gandalf</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= events_path %>">Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Username">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= new_event_path %>">Create event</a></li>
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <%= yield %>
    </div>

    <hr>

    <footer>
      <p>&copy; Zeus WPI 2013</p>
    </footer>
  </div> <!-- /container -->

</body>
</html>
