<!DOCTYPE html>
<html>
  <head>
    <title>Isengard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Gandalf</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="<%= events_path %>">Events</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
            <p class="navbar-text">
              <%= current_user.username %>
            </p>
            </li>
            <li>
              <%= link_to "Logout", destroy_user_session_path(current_user), method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Login", new_user_session_path %>
            </li>
          <% end %>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Management <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="<%= new_event_path %>">Create event</a></li>
        </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <% if flash[:error] %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= flash[:error] %>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= flash[:notice] %>
        </div>
        <% end %>
      <%= yield %>
    </div>

    <hr>

    <footer>
    <p>&copy; Company 2013</p>
    </footer>
  </div> <!-- /container -->

</body>
</html>
