<tr class="access-level-<%= access_level.id %>">
  <td><%= access_level.name %></td>
  <td><%= access_level.registrations.count %>/<%= access_level.capacity.presence || "&infin;".html_safe %> <% if access_level.capacity.presence and (access_level.capacity <= access_level.registrations.count) %><span class="label label-warning">Full!</span><% end %></td>
  <td>&euro;<%= number_with_precision access_level.price || "0", precision: 2  %></td>
  <td><%= if access_level.public then "public" else "private" end %></td>
  <% if advanced %>
    <td><%= render partial: 'access_levels/zones', locals: {access_level: access_level} %></td>
  <% end %>
  <td><%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), event_access_level_path(access_level.event, access_level), confirm: 'Are you sure?', remote: true, method: :delete %></td>
</tr>
