<tr>
<%= form_for [@event, @event.access_levels.build], remote: true do |f| %>
  <td><%= f.text_field :name, class: 'form-control' %></td>
  <td><%= f.number_field :capacity, class: 'form-control' %></td>
  <td><%= f.text_field :price, class: 'form-control' %></td>
  <td>
    <%= form_check_box f, :public %>
  </td>
  <td><div class="checkbox"><%= f.check_box :has_comment %></div></td>
  <td><%= f.button :Add, class: 'btn btn-primary' %></td>
<% end %>
</tr>
