<div id="edit-event-form">

  <div class="row">
    <div class="col-lg-4">
      <%= form_errors @event %>
      <%= form_for @event, remote: true do |f| %>

        <%= form_text_field f, :name %>
        <%= form_text_field f, :organisation %>
        <%= form_text_field f, :location %>
        <%= form_text_field f, :website %>
        <%= form_date_field f, :start_date, "start", f.object.start_date.try { |d| d.strftime("%Y-%m-%d %H:%M") } %>
        <%= form_date_field f, :end_date, "end", f.object.end_date.try { |d| d.strftime("%Y-%m-%d %H:%M") } %>
        <%= form_text_area f, :description %>

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
