<div id="edit-event-form">
  <%= form_errors @event %>
  <%= form_for @event, remote: true do |f| %>

    <%= form_text_field f, :name %>
    <%= form_text_field f, :organisation %>
    <%= form_text_field f, :location %>
    <%= form_text_field f, :website %>
    <%= form_date_field f, :start_date, "start", nice_time(f.object.start_date) %>
    <%= form_date_field f, :end_date, "end", nice_time(f.object.end_date) %>
    <%= form_text_area f, :description %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
