<%= render partial: "events/tabs" %>

<h3>Edit event</h3>
<%= form_errors @event %>

<div class="row">
  <div class="col-sm-4">
    <h4>General</h4>
    <%= render partial: "events/general_form" %>
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <h4>Registration settings</h4>
    <%= render partial: "events/registration_times_form" %>

    <br />

    <h4>Payment information</h4>
    <%= render partial: "events/payment_form" %>
  </div>
</div>
