<h1>Create a new event</h1>
<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :organisation %>
  <%= f.input :location %>
  <%= f.input :website %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
