<h1>Create a new event</h1>
<%= form_for @event, url: {action: "create"} do |event| %>
    <p>
        <label>Name:</label>
        <%= event.text_field :name %>
    </p>
    <p>
        <label>Organisation:</label>
        <%= event.text_field :organisation %>
    </p>
    <p>
        <label>Location:</label>
        <%= event.text_field :location %>
    </p>
    <p>
        <label>Website:</label>
        <%= event.text_field :website %>
    </p>
    <p>
        <label>Event Start:</label>
        <%= event.datetime_select :start_date %>
    </p>
    <p>
        <label>Event end:</label>
        <%= event.datetime_select :end_date %>
    </p>
    <p>
        <label>Description:</label>
        <%= event.text_area :description %>
    </p>
    <p>
        <%= event.submit "Create" %>
    </p>
<% end %>
