<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h3>Scan</h3>

    <%= render partial: 'flash' %>

    <% if @registration %>
    <h4>Ticket information:</h3>
      <div class="row">
        <div class="col-sm-4">
          <table class="table">
            <tr><th>Name:</th><td><%= @registration.name %></td></tr>
            <tr><th>E-mail:</th><td><%= @registration.email %></td></tr>
            <tr><th>Student number:</th><td> <%= @registration.student_number %></td></tr>
            <tr><th>Registered at:</th><td><%= nice_time @registration.created_at %></td></tr>
            <tr><th>Barcode:</th><td><%= @registration.barcode %></td></tr>
            <tr><th>Ticket:</th><td> <%= @registration.access_levels[0].name %></td></tr>
            <% unless @registration.comment.blank? %>
              <tr><th>Comment:</th><td> <%= @registration.comment %></td></tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-4">
        <%= form_tag check_in_event_path(@event),
          url: scan_event_path(@event),
          remote: false do %>
          <div class="form-group">
            <label for="code">Barcode:</label>
            <input required class="form-control" id="code" name="code" type="text" autofocus="autofocus">
          </div>

          <button class="btn btn-group btn-primary" name="button" type="submit">submit</button>
        <% end %>
      </div>
    </div>

  </div>
</div>
