<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h3>Scan</h3>

    <%= render partial: 'flash' %>

    <h4>Ticket information:</h3>
    <% if @registration %>
      <div class="row">
      <div class="col-sm-4">
        <table class="table">
          <tr><th>Name:</th><td><%= @registration.name %></td></tr>
          <tr><th>E-mail:</th><td><%= @registration.email %></td></tr>
          <tr><th>Student number:</th><td> <%= @registration.student_number %></td></tr>
          <tr><th>Registered at:</th><td><%= nice_time @registration.created_at %></td></tr>
          <tr><th>Barcode:</th><td><%= @registration.barcode_with_check_digit %></td></tr>
          <tr><th>Ticket:</th><td> <%= @registration.access_levels[0].name %></td></tr>
        </table>
      </div>
    </div>
  <% end %>

    <div class="row">
      <div class="col-sm-4">
        <%= form_tag check_in_event_path(@event),
          url: scan_event_path(@event),
          remote: false do %>
          <div class="form-group">
            <label for="code">Barcode:</label>
            <input required class="form-control" id="code" name="code" type="text" autofocus="autofocus">
          </div>

          <button class="btn btn-group btn-primary" name="button" type="submit">submit</button>
        <% end %>
        </div>
      </div>

    </div>
  </div>
