<tr id="<%= dom_id(partner) %>">
  <td><%= partner.name %></td>
  <td><%= mail_to partner.email %></td>
  <td><%= partner.access_level.name %></td>
  <td><%= partner.confirmed ? 'Yes' : 'No' %></td>
  <td>
    <div class="nowrap">
    <%= render "partners/actions", partner: partner %>
    </div>
  </td>
</tr>
