<div class="row">
  <div class="col-sm-12">

    <%= render partial: "flash" %>

    <h1>Welcome, <%= @partner.name %></h1>

    <p>You are registered as a partner of <%= link_to @event.name, @event %> with the e-mail address "<%= @partner.email %>". Please contact them if you want to change this email address.</p>

    <h2>Invitations</h2>

    <% if @partner.received_invitations.where(selected: false).any? %>
      <%= render @partner.received_invitations.where(selected: false) %>
    <% end %>

    <% if @partner.received_invitations.where(selected: true).any? %>
      <h3>In enveloppe</h3>
      <%= render @partner.received_invitations.where(selected: true) %>
      <%= form_tag pass_event_partner_invitations_path(@event, @partner) do %>
        <label>Email:</label>
        <%= text_field_tag :email %>
        <label>Name:</label>
        <%= text_field_tag :name %>
        <%= button_tag "Send" %>
      <% end %>
    <% end %>


  </div>
</div>
