<%= form_for [@event, @event.periods.build], remote: true do |f| %>

  <%= form_text_field f, :name %>

  <div class="checkbox">
    <label>
      <input type="checkbox"> All day
    </label>
  </div>

  <%= form_date_field f, :starts, "period-start", datepicker_time(f.object.starts) %>
  <%= form_date_field f, :ends, "period-end", datepicker_time(f.object.ends) %>

  <%= f.button :submit, class: 'btn btn-group btn-primary' %>
<% end %>
