<div id="basic-registration-form">
  <%= form_errors @registration %>
  <%= render partial: 'flash' %>

  <%= form_for [@event, @registration], url: basic_event_registrations_path(@event) do |f| %>
    <%= form_text_field f, :name %>
    <%= form_email_field f, :email %>
    <%= form_text_field f, :student_number %>

    <%= form_collection_select f, :access_levels, @event.access_levels.find_all { |al| can? :register, al }, :id, :name_with_price %>
    <%= f.button :submit, class: 'btn btn-group btn-primary' %>
  <% end %>
</div>
