<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-4">
    <h3>Manage Registration Dates</h3>
    <%= form_for @event, url: event_set_registration_times_path(@event), method: :patch do |f| %>
       <%= form_date_field f, :registration_open_date, "registration-start", nice_time(f.object.registration_open_date) %>
       <%= form_date_field f, :registration_close_date, "registration-end", nice_time(f.object.registration_close_date) %>
       <%= form_check_box f, :show_ticket_count %>
       <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-8">
    <h3>Registrations</h3>
    <div class="table-responsive">
      <table class="table table-striped" id="table-registrations">
        <thead>
          <th>Name</th>
          <th>E-mail</th>
          <th>Access level</th>
          <th>Paid</th>
        </thead>
        <%= render @event.registrations %>
      </table>
    </div>
  </div>
</div>
