<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-4">
    <h3>Upload Transfer CSV</h3>
    <%= form_tag({ action: :upload }, multipart: true) do %>
      <div class="form-group">
        <label>CSV file:</label>
        <%= file_field_tag :csv_file %>
      </div>
      <div class="form-group">
        <label>Column separator:</label>
        <%= text_field_tag :separator, ';', class: 'form-control' %>
      </div>
      <div class="form-group">
        <label>Amount column header:</label>
        <%= text_field_tag :amount_column, 'Bedrag', class: 'form-control' %>
      </div>
      <%= button_tag :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h3>Registrations</h3>
    <%= render 'events/export' %>
    <%= tag :div, id: "export_status_url", data: {url: export_status_event_path(@event)} %>
    <%= bootstrap_pagination @registrations %>
    <div class="table-responsive">
      <table class="table table-striped" id="table-registrations">
        <thead>
          <th>Name</th>
          <th>E-mail</th>
          <th>Access level</th>
          <th>Payment code</th>
          <th width="250">To pay</th>
          <th>Actions</th>
        </thead>
        <%= render @registrations %>
      </table>
    </div>
    <%= bootstrap_pagination @registrations %>
  </div>
</div>

