<div id="basic-registration-form">
  <p>
  <%= form_errors @registration %>
  <%= render partial: 'flash' %>

  <%= form_for [@event, @registration], url: basic_event_registrations_path(@event) do |f| %>
    <%= form_text_field f, :name %>
    <%= form_email_field f, :email %>
    <% if user_signed_in? %>
      <%= f.hidden_field :student_number %>
    <% else %>
      <%= form_text_field f, :student_number %>
    <% end %>

    <%= form_collection_select f, :access_levels, @event.access_levels.find_all { |al| can? :register, al }, :id, :name_with_price %>
    <%= form_text_area f, :comment %>
    <%= javascript_tag do %>
      window.ticketsWithComments = <%= @event.access_levels.find_all(&:has_comment).map(&:id).to_json %>
    <% end %>
    <%= f.submit "Register", class: 'btn btn-group btn-primary' %>
  <% end %>
  </p>

  <div class="well well-sm">
    Payments can be done by bank transfer, <strong>not by credit card</strong>.
  </div>

</div>
