<div id="basic-registration-form">
  <p>
  <%= form_errors @registration %>
  <%= render partial: 'flash' %>

  <%= form_for [@event, @registration], url: basic_event_registrations_path(@event) do |f| %>
    <% if @registration.event.extra_info %>
        <%= form_radio_field f, :title, @registration.title, Registration.personal_titles, false, true, Registration.personal_titles_scope %>
    <% end %>
    <%= form_text_field f, :firstname %>
    <%= form_text_field f, :lastname %>
    <% if @registration.event.extra_info %>
      <%= form_text_field f, :job_function %>
    <% end %>
    <%= form_email_field f, :email %>
    <%= f.hidden_field :student_number %>
    <% if @registration.event.ask_phone_number? %>
      <%= form_telephone_field f, :phone_number, @event.show_telephone_disclaimer %>
    <% end %>
    <%= form_collection_select f, :access_levels, @event.access_levels.find_all { |al| can? :register, al }, :id, :name_with_price %>
    <% if @registration.event.allow_plus_one %>
          <%= form_check_box f, :has_plus_one, options={:onclick=>"$('.plus_one').toggle()"} %>
    <div class="plus_one" style="<%= 'display:none' unless @registration.has_plus_one %>">
      <% if @registration.event.extra_info %>
          <%= form_radio_field f, :plus_one_title, @registration.plus_one_title, Registration.personal_titles, true, true, Registration.personal_titles_scope %>
      <% end %>
      <%= form_text_field f, :plus_one_firstname %>
      <%= form_text_field f, :plus_one_lastname %>
    </div>
    <% end %>
    <%= form_text_area f, :comment, @event.comment_title %>
    <%= javascript_tag do %>
      window.ticketsWithComments = <%= @event.access_levels.find_all(&:has_comment).map(&:id).to_json %>
    <% end %>
      <% if @registration.event.can_add_club%>
          <p><%= t('event.registration.club.info')%></p>
        <%= form_collection_select f, :club, Club.find_each, :id, :name %>
      <%end%>

      <%= f.submit t('event.register', default: 'Register'), class: 'btn btn-group btn-primary' %>
  <% end %>

  <!--<div class="well well-sm">
    Payments can only be done by bank transfer, <strong>not by credit card</strong>.
  </div>-->

</div>


