<div id="basic-registration-form">
  <p>
    <%= form_errors @registration %>
    <%= render partial: 'flash' %>

    <%= form_for [@event, @registration], url: event_registrations_path(@event) do |f| %>
      <%= form_text_field f, :name %>
      <%= form_email_field f, :email %>
      <%= f.hidden_field :student_number %>

      <%= form_collection_select f, :access_level, @event.access_levels.find_all { |al| can? :register, al }, :id, :name_with_price %>
      <%= form_text_area f, :comment %>
      <%= javascript_tag do %>
        window.ticketsWithComments = <%= @event.access_levels.find_all(&:has_comment).map(&:id).to_json %>
        window.freeTickets = <%= @event.access_levels.where(price: 0).map(&:id).to_json %>
      <% end %>
      <%= f.submit "Register", class: 'btn btn-group btn-primary' %>
    <% end %>
  </p>

  <div id="payment-info" class="well well-sm">
    Payments can be done by bank transfer, <strong>not by credit card</strong>.
  </div>

</div>
