<%= content_tag_for :tr, registration do %>
  <td><%= registration.name %></td>
  <td><%= registration.email %></td>
  <td><%= registration.access_level.name %></td>
  <td><%= registration.payment_code %></td>
  <td>
    <%= render partial: 'registration_payment_form', locals: { registration: registration } %>
  </td>
  <td>
    <%= render partial: 'registration_actions', locals: { registration: registration } %>
  </td>
<% end %>
