<h1><%= @event.name %>
  <%= link_to raw('<i class="glyphicon glyphicon-calendar"></i>'), event_path(@event, format: :ics), {class: "btn btn-xs"} %>
  <% if can? :crud, @event %>
    <%= link_to raw('<span class="glyphicon glyphicon-trash"></span> Delete'), "#delete-confirm", class: "btn btn-danger btn-xs delete-confirm", :"data-link" => event_path(@event) %>
  <% end %>
</h1>

<% if can? :view_stats, @event or can? :crud, @event %>
<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-tabs">
      <li <%= raw 'class="active"' if current_page?(event_path(@event)) %>><%= link_to "General", event_path(@event) %></li>
      <% if can? :view_stats, @event %>
        <li <%= raw 'class="active"' if current_page?(statistics_event_path(@event)) %>><%= link_to "Statistics", statistics_event_path(@event) %></li>
      <% end %>
      <% if can? :crud, @event %>
        <li <%= raw 'class="active"' if current_page?(edit_event_path(@event)) %>><%= link_to "Edit event", edit_event_path(@event) %></li>
        <li <%= raw 'class="active"' if current_page?(event_registrations_path(@event)) %>><%= link_to "Registrations", event_registrations_path(@event) %></li>
        <li <%= raw 'class="active"' if current_page?(event_access_levels_path(@event)) && !@advanced %>><%= link_to "Tickets", event_access_levels_path(@event, advanced: false) %></li>
        <li <%= raw 'class="active"' if current_page?(event_partners_path(@event)) %>><%= link_to "Partners", event_partners_path(@event) %></li>
        <%# <li class="dropdown<%= raw ' active"' if (current_page?(event_access_levels_path(@event)) && @advanced) || current_page?(event_zones_path(@event)) || current_page?(event_periods_path(@event)) %1>"> %>
        <%#   <a href="#" id="advanced_drop" data-toggle="dropdown" class="dropdown-toggle">Advanced <b class="caret"></b></a> %>
        <%#   <ul class="dropdown-menu" role="menu" aria-labelledby="advanced_drop"> %>
        <%#     <li <%= raw 'class="active"' if current_page?(event_access_levels_path(@event)) && @advanced %1>><%= link_to "Tickets", event_access_levels_path(@event, advanced: true) %1></li> %>
        <%#     <li <%= raw 'class="active"' if current_page?(event_zones_path(@event)) %1>><%= link_to "Zones", event_zones_path(@event) %1></li> %>
        <%#     <li <%= raw 'class="active"' if current_page?(event_periods_path(@event)) %1>><%= link_to "Access periods", event_periods_path(@event) %1></li> %>
        <%#   </ul> %>
        <%# </li> %>
        <li <%= raw 'class="active"' if current_page?(scan_event_path(@event)) %>><%= link_to "Scan", scan_event_path(@event) %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<% if can? :crud, @event %>
  <%= render "events/delete_modal" %>
<% end %>
