<%= render partial: "events/tabs" %>


<%= render partial: 'flash' %>

<div class="row">
  <div class="col-sm-12">
    <h2><%= t('events.club_stats.title')%></h2>

    <table class="table table-striped table-hover">
      <tbody>
      <tr>
        <th><%= t('events.club_stats.club')%></th>
        <th><%= t('events.club_stats.tickets_sold')%></th>
      </tr>
      <% @stats.each do |s| %>
          <% if !s.first.nil? and not [2,3].include? s.first  %>
              <tr>
                <td><%= Club.find_by_id(s.first).name %></td>
                <td><%= s.last %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
    <small>Als jouw vereniging er nog niet bij staat, heeft deze nog geen tickets verkocht.</small>
  </div>
</div>

