<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h3>Scan</h3>

    <%= render partial: 'flash' %>

    <% if @ticket %>
    <h4>Ticket information:</h4>
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tr><th>Name:</th><td><%= @ticket.name %></td></tr>
            <tr><th>E-mail:</th><td><%= @ticket.email %></td></tr>
            <tr><th>Student number:</th><td> <%= @ticket.student_number %></td></tr>
            <tr><th>Registered at:</th><td><%= nice_time @ticket.created_at %></td></tr>
            <tr><th>Barcode:</th><td><%= @ticket.barcode %></td></tr>
            <tr><th>Ticket:</th><td> <%= @ticket.access_level.name %></td></tr>
            <% unless @ticket.comment.blank? %>
              <tr><th>Comment:</th><td> <%= @ticket.comment %></td></tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= form_tag check_in_event_path(@event),
          url: scan_event_path(@event),
          remote: false do %>
          <div class="form-group">
            <label for="code">Barcode:</label>
            <input required class="form-control" id="code" name="code" type="text" autofocus="autofocus">
          </div>

          <button class="btn btn-group btn-primary" name="button" type="submit">submit</button>
        <% end %>
      </div>
    </div>

  </div>
</div>
