<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h2>Scan</h2>

    <%= render partial: 'flash' %>

    <% if @registration %>
    <h4>Ticket information:</h4>
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tr><th>Name:</th><td><%= @registration.name %></td></tr>
            <tr><th>E-mail:</th><td><%= @registration.email %></td></tr>
            <tr><th>Student number:</th><td> <%= @registration.student_number %></td></tr>
            <tr><th>Registered at:</th><td><%= nice_time @registration.created_at %></td></tr>
            <tr><th>Barcode:</th><td><%= @registration.barcode %></td></tr>
            <tr><th>Ticket:</th><td> <%= @registration.access_levels[0].name %></td></tr>
            <% unless @registration.admin_note.blank? %>
                <tr><th>Admin note:</th><td> <%= @registration.admin_note %></td></tr>
            <% end %>
            <% unless @registration.comment.blank? %>
              <tr><th>Comment:</th><td> <%= @registration.comment %></td></tr>
            <% end %>
            <% if @registration.number_of_tickets > 1 %>
                <tr><th>Ticket:</th><td> <%= @registration.sequence_number %>/<%= @registration.number_of_tickets %></td></tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= form_tag scan_barcode_event_path(@event), remote: false do %>
          <div class="input-group">
            <div class="input-group">
              <input required type="text" autofocus="autofocus" autocomplete="off"
                class="form-control" placeholder="Barcode" name="code" id="code">
              <span class="input-group-btn">
                <button class="btn btn-primary" name="button" type="submit">
                  Submit
                </button>
              </span>
            </div>
          </div>
        <% end %>

        <br/>

        <%= form_tag scan_name_event_path(@event), remote: false do %>
          <div id="scan-by-name" class="input-group">
            <div class="input-group">
              <input required type="text" class="form-control typeahead"
                placeholder="Start searching by entering a name or an email" name="name" id="name">
              <input required type="hidden" name="registration_id" id="registration_id">
              <span class="input-group-btn">
                <button class="btn btn-primary" name="button" type="submit">
                  Submit
                </button>
              </span>
            </div>
          </div>
        <% end %>
        <br/>

      </div>
    </div>

  </div>
</div>

<script>
var json = '<%= list_registrations_event_path %>';
var registrations = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('firstname', 'lastname', 'sequence_number','email'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: {
        url: '<%= list_registrations_event_path %>',
        cache: false
    }
});

registrations.initialize();

$('#name').typeahead(
    {
        hint:      true,
        highlight: true,
        minLength: 1
    },
    {
        name: 'registrations',
        displayKey: function (reg) {
            return reg.firstname + " " + reg.lastname + " (" + reg.sequence_number + "/"  + reg.number_of_tickets + ")";
        },
        source: registrations.ttAdapter(),
        templates: {
            suggestion: function(registration) {
                var container = $('<div/>');
                if (registration.checked_in_at !== null) {
                    container.addClass("tt-danger");
                }

                var name = $('<span/>', {
                    class: "typeahead-scan-name",
                    text: registration.firstname + ' ' + registration.lastname
                });
                var email = $('<span/>', {
                    class: "typeahead-scan-email",
                    text: registration.email
                });
                container.append(name).append(email);
                if (registration.number_of_tickets > 1) {
                    var extra = $('<span/>', {
                        class: "typeahead-scan-tickets",
                        text: "Ticket: " + registration.sequence_number + "/" + registration.number_of_tickets
                    });
                    container.append("<br/>").append(extra);
                }
                return container;
            }
        }
    }
).on('typeahead:selected', function(obj, datum) {
    $('#registration_id').val(datum.id)
});
</script>
