<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h3>Scan</h3>

    <%= render partial: 'flash' %>

    <% if @registration %>
    <h4>Ticket information:</h4>
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tr><th>Name:</th><td><%= @registration.name %></td></tr>
            <tr><th>E-mail:</th><td><%= @registration.email %></td></tr>
            <tr><th>Student number:</th><td> <%= @registration.student_number %></td></tr>
            <tr><th>Registered at:</th><td><%= nice_time @registration.created_at %></td></tr>
            <tr><th>Barcode:</th><td><%= @registration.barcode %></td></tr>
            <tr><th>Ticket:</th><td> <%= @registration.access_levels[0].name %></td></tr>
            <% unless @registration.comment.blank? %>
              <tr><th>Comment:</th><td> <%= @registration.comment %></td></tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= form_tag scan_barcode_event_path(@event), remote: false do %>
          <div class="input-group">
            <div class="input-group">
              <input required type="text" autofocus="autofocus" autocomplete="off"
                class="form-control" placeholder="Barcode" name="code" id="code">
              <span class="input-group-btn">
                <button class="btn btn-primary" name="button" type="submit">
                  Submit
                </button>
              </span>
            </div>
          </div>
        <% end %>

        <br/>

        <%= form_tag scan_name_event_path(@event), remote: false do %>
          <div id="scan-by-name" class="input-group">
            <div class="input-group">
              <input required type="text" class="form-control typeahead"
                placeholder="Start searching by entering a name or an email" name="name" id="name">
              <span class="input-group-btn">
                <button class="btn btn-primary" name="button" type="submit">
                  Submit
                </button>
              </span>
            </div>
          </div>
        <% end %>
        <br/>

      </div>
    </div>

  </div>
</div>

<script>
var json = '<%= list_registrations_event_path %>';
var registrations = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name', 'email'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '<%= list_registrations_event_path %>'
});

registrations.initialize();

$('#name').typeahead(
    {
        hint:      true,
        highlight: true,
        minLength: 1
    },
    {
        name: 'registrations',
        displayKey: 'name',
        source: registrations.ttAdapter(),
        templates: {
            suggestion: function(registration) {
                var container = $('<div/>');
                var name = $('<span/>', {
                    class: "typeahead-scan-name",
                    text: registration.name
                });
                var email = $('<span/>', {
                    class: "typeahead-scan-email",
                    text: registration.email
                })
                return container.append(name).append(email);
            }
        }
    }
);
</script>
