<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-7">
    <h3>Description</h3>
    <table class="table">
      <tr>
        <th>Organisation</th>
        <td><%= @event.club.name %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= @event.location %></td>
      </tr>
      <tr>
        <th>Start date</th>
        <td><%= nice_time @event.start_date %></td>
      </tr>
      <tr>
        <th>End date</th>
        <td><%= nice_time @event.end_date %></td>
      </tr>
      <tr>
        <td colspan="2">
           <%= @event.description.html_safe %>
        </td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= link_to @event.website, @event.website %></td>
      </tr>
      <tr>
        <th>Contact e-mail</th>
        <td><%= mail_to @event.contact_email, @event.contact_email %></td>
      </tr>
    </table>

    <% unless @event.access_levels.blank? %>
      <h3>Tickets</h3>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <% @event.access_levels.public.each do |al| %>
              <%= render partial: "events/ticket", locals: {al: al} %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <% if can? :register, @event and not @event.access_levels.find_all{ |al| can? :register, al }.blank? %>
    <div class="col-sm-4 col-sm-offset-1">
      <%= render partial: "registrations/form" %>
    </div>
  <% end %>
</div>
