<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-5">
    <h2>Description</h2>
    <table class="sideways-table">
      <tr>
        <td>Organisation</td>
        <td><%= @event.club.name %></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><%= @event.location %></td>
      </tr>
      <tr>
        <td>Start date</td>
        <td><%= nice_time @event.start_date %></td>
      </tr>
      <tr>
        <td>End date</td>
        <td><%= nice_time @event.end_date %></td>
      </tr>
      <tr>
        <td class="colspanned" colspan="2">
           <%= @event.description.html_safe %>
        </td>
      </tr>
      <tr>
        <td>Website</td>
        <td><%= link_to @event.website, @event.website %></td>
      </tr>
      <tr>
        <td>Contact e-mail</td>
        <td><%= mail_to @event.contact_email, @event.contact_email %></td>
      </tr>
    </table>

    <% unless @event.access_levels.blank? %>
      <h2>Tickets</h2>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <% @event.access_levels.public?.each do |al| %>
              <%= render partial: "events/ticket", locals: {al: al} %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <h2>Register</h2>
    <% unless @event.access_levels.find_all{ |al| al.requires_login? }.blank? %>
      Some tickets of this event can only be registered for if you are a member of the organiser's organisation.<br />
      <%= link_to "Login", new_user_session_path %> using CAS to register for these tickets.
    <% end %>
    <% if can? :register, @event and not @event.access_levels.find_all{ |al| can? :register, al }.blank? %>
      <%= render partial: "registrations/form" %>
    <% else %>
      No tickets available at the moment!
    <% end %>
  </div>
</div>
