<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-6">
    <h3>Description</h3>
    <table class="table word-break">
      <tr>
        <th class="col-md-3 col-xs-3">Organisation</th>
        <td><%= @event.club.name %></td>
      </tr>
      <tr>
        <th>Location</th>
        <td><%= @event.location %></td>
      </tr>
      <tr>
        <th>Start date</th>
        <td><%= nice_time @event.start_date %></td>
      </tr>
      <tr>
        <th>End date</th>
        <td><%= nice_time @event.end_date %></td>
      </tr>
      <tr>
        <td colspan="2">
           <%= @event.description.html_safe %>
        </td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= link_to @event.website, @event.website %></td>
      </tr>
      <tr>
        <th>Contact e-mail</th>
        <td><%= mail_to @event.contact_email, @event.contact_email %></td>
      </tr>
    </table>

  </div>
  <div class="col-sm-6">
    <% unless @event.access_levels.blank? %>
      <h3>Tickets</h3>
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <% @event.access_levels.public?.each do |al| %>
              <%= render partial: "events/ticket", locals: {al: al} %>
            <% end %>
          </ul>
        </div>
      </div>

      <%= button_to "Buy tickets now", event_order_build_index_path(@event, :new), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
