<div class="row">
  <div class="col-lg-6">
    <%= form_for [@event, @event.periods.build], remote: true do |f| %>

      <%= form_text_field f, :name %>

      <div class="checkbox">
        <label>
          <input type="checkbox"> All day
        </label>
      </div>

      <%= form_date_field f, :starts, "period-start", f.object.starts.try { |d| d.strftime("%Y-%m-%d %H:%M") } %>
      <%= form_date_field f, :ends, "period-end", f.object.ends.try { |d| d.strftime("%Y-%m-%d %H:%M") } %>

      <%= f.button :submit, class: 'btn btn-group btn-primary' %>
    <% end %>
  </div>
</div>
