<%= form_for [@event, @event.periods.build], remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>:
    <div class="row">
      <div class="col-lg-6">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <input type="checkbox">All day</input>

  <div class="form-group">
    <%= f.label :starts %>:
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <%= f.text_field :starts, class: 'form-control', id: "period-start", value: f.object.starts.try { |d| d.strftime("%Y-%m-%d %H:%M") }%>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ends %>:
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <%= f.text_field :ends, class: 'form-control', id: "period-end", value: f.object.ends.try { |d| d.strftime("%Y-%m-%d %H:%M") }%>
        </div>
      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-group btn-primary' %>
<% end %>
