<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <h3>Orders</h3>
    <%= render partial: 'flash' %>
    <%= link_to raw('<i class="glyphicon glyphicon-filter"></i> Filter orders'), '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => '#filter-modal' %>
    <%= link_to raw('<i class="glyphicon glyphicon-upload"></i> Upload CSV'), '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => '#upload-modal' %>
    <%= link_to raw('<i class="glyphicon glyphicon-envelope"></i> Send email'), '#', class: 'btn btn-default', 'data-toggle' => 'modal', 'data-target' => '#mail-modal' %>
    <span class="pull-right btn btn-default"><strong>Total tickets:</strong> <%= @event.orders.size %> (<%= @event.orders.paid.size %> paid)</span>

    <br />
    <br />

    <% if @orders.blank? %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Warning!</strong> No orders found. If you have set any filters, you can
        <%= link_to "reset", event_orders_path(@event) %> these.
      </div>
    <% else %>
      <%= bootstrap_pagination @orders %>
      <table class="table table-striped table-hover" id="table-orders">
        <%= datagrid_header @ordersgrid %>
        <%= datagrid_rows @ordersgrid, @orders %>
      </table>
      <%= bootstrap_pagination @orders %>
    <% end %>
  </div>
</div>


<%= render partial: 'orders/email_modal' %>
<%= render partial: 'orders/upload_modal' %>
<%= render partial: 'orders/info_modal' %>
<%= render partial: 'orders/filter_modal' %>
