<%= render partial: "events/tabs" %>

<h3>Failed rows</h3>
<%= render partial: 'flash' %>

<%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back to orders'), event_orders_path(@event), class: 'btn btn-default' %>
<table class="table table-striped">
  <thead>
    <tr>
      <% @csvheaders.each do |header| %>
        <th><%= header.to_s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @csvfails.each do |row| %>
      <tr>
        <% @csvheaders.each do |header| %>
          <td><%= row[header] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to raw('<i class="glyphicon glyphicon-chevron-left"></i> Back to orders'), event_orders_path(@event), class: 'btn btn-default' %>
