<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @ticket.name %>,</p>

    <p>This email is your ticket to enter the following event:</p>

    <table>
      <tbody>
        <tr>
          <td><strong>Event</strong></td>
          <td><%= @ticket.event.name %></td>
        </tr>
        <tr>
          <td><strong>Organisation</strong></td>
          <td><%= @ticket.event.club.name %></td>
        </tr>
        <tr>
          <td><strong>Location</strong></td>
          <td><%= @ticket.event.location %></td>
        </tr>
        <tr>
          <td><strong>Start date</strong></td>
          <td><%= nice_time @ticket.event.start_date %></td>
        </tr>
        <tr>
          <td><strong>End date</strong></td>
          <td><%= nice_time @ticket.event.end_date %></td>
        </tr>
        <tr>
          <td><strong>Website</strong></td>
          <td><a href="<%= @ticket.event.website %>"><%= @ticket.event.website %></a></td>
        </tr>
      </tbody>
    </table>

    <p>Below is your personal barcode (ticket type: <%= @ticket.access_level :name %>).</p>
    <br />
    <%= image_tag attachments['barcode.png'].url %>
    <%= image_tag attachments['barcode-tilted.png'].url %>
    <br />
    Barcode number: <%= @ticket.barcode %>
    <br />


    <p><strong>Do not forget to print this email and bring it with you. This email acts as your ticket. Without it, you will not be granted access to <%= @ticket.event.name %>.</strong><p>

    <p>If you have any problems, you can contact us via mail: <%= mail_to @ticket.event.contact_email, @ticket.event.contact_email %></p>

    <p>Kind regards,<br /><%= @ticket.event.club.name %></p>

  </body>
</html>
