<h2>Manage</h2>

<div class="row">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#basic" data-toggle="tab">Basic</a></li>
    <li><a href="#registrations" data-toggle="tab">Registrations</a></li>
    <li class="dropdown">
      <a href="#" id="advanced_drop" class="dropdown-toggle" data-toggle="dropdown">Advanced <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="advanced_drop">
        <li><a href="#access_levels_advanced" tabindex="-1" data-toggle="tab">Access levels</a></li>
        <li><a href="#zones" tabindex="-1" data-toggle="tab">Zones</a></li>
        <li><a href="#access_periods" tabindex="-1" data-toggle="tab">Access Periods</a></li>
      </ul>
    </li>
  </ul>

  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="basic">
      <%= render "events/backend/manage_access_levels", advanced: false %>
    </div>
    <div class="tab-pane" id="registrations">
      <%= render "events/backend/manage_registrations" %>
    </div>
    <div class="tab-pane" id="access_levels_advanced">
      <%= render "events/backend/manage_access_levels", advanced: true %>
    </div>
    <div class="tab-pane" id="zones">
      <%= render "events/backend/manage_zones" %>
    </div>
    <div class="tab-pane" id="access_periods">
      <%= render "events/backend/manage_access_periods" %>
    </div>
  </div>
</div>
