<div class="modal fade" id="filter-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Filter</h4>
      </div>
      <%= form_for @ticketsgrid, url: event_tickets_path, method: :get do |f| %>
      <div class="modal-body">
        <%= form_text_field f, :name %>
        <%= form_text_field f, :email %>
        <%= form_collection_select f, :access_level, @event.access_levels, :id, :name, {include_blank: true} %>
      </div>
      <div class="modal-footer">
        <%= link_to "Reset", event_tickets_path(@event), class: 'btn btn-group btn-default' %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Filter", class: 'btn btn-group btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
