<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Gsm:</strong>
  <%= @ticket.gsm %>
</p>

<p>
  <strong>Checked in at:</strong>
  <%= @ticket.checked_in_at %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event %>
</p>

<p>
  <strong>Order:</strong>
  <%= @ticket.order %>
</p>

<p>
  <strong>Student number:</strong>
  <%= @ticket.student_number %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @ticket.comment %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @ticket.barcode %>
</p>

<p>
  <strong>Barcode data:</strong>
  <%= @ticket.barcode_data %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
