<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @order.name %>,</p>

    <p>This mail is being sent to you because you payed to much for the ticket you bought with our event management application. Please check out any faults in below information and contact us at <%= mail_to @order.event.contact_email, @order.event.contact_email %> for any changes.</p>

    <table>
      <tbody>
        <tr>
            <td><strong>Event</strong></td>
            <td><%= @order.event.name %></td>
        </tr>
        <tr>
          <td><strong>Organisation</strong></td>
          <td><%= @order.event.club.name %></td>
        </tr>
        <tr>
          <td><strong>Location</strong></td>
          <td><%= @order.event.location %></td>
        </tr>
        <tr>
          <td><strong>Price</strong></td>
          <td><%= @order.price %></td>
        </tr>
        <tr>
          <td><strong>Paid</strong></td>
          <td><%= @order.paid %></td>
        </tr>
      </tbody>
    </table>

    <p>Kind regards,<br /><%= @order.event.club.name %></p>

  </body>
</html>

