<tr>
  <%= form_for [object.event, object], remote: true do |f| %>
    <td><%= f.text_field :code, class: 'form-control' %></td>
    <td><%= f.number_field :limit, class: 'form-control', placeholder: 0 %></td>
    <td><%= f.collection_select :access_levels, object.event.access_levels, :id, :name_with_price, { selected: object.access_levels.map(&:id) }, { multiple: true, class: "form-control" } %></td>
    <td><%= f.button button_name, class: 'btn btn-sm btn-primary' %></td>
    <%= javascript_tag do %>
      var id = "#<% if button_name == 'Save' %>edit_<% end %><%= dom_id(f.object) %>";
      var inputs = $(id).parent().find('input');
      var select = $(id).parent().find('select');
      select.select2({width: '200px'});

      $(id).parent().find('button').on('click', function(e) {
        e.preventDefault();
        $(id).append(inputs.clone());
        $(id).append("<input type='hidden' name='promo[access_levels]' value='" + select.val() + "'>");
        $(id).append('<input type="hidden" name="_method" value="<%= (button_name == 'Save') ? 'put' : 'post'  %>">');
        $(id).submit();
        $(id).empty();
      });
    <% end %>
  <% end %>
</tr>
