<%= render partial: "events/tabs" %>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: 'flash' %>
    <%= render partial: 'generate' %>
    <h3>Manage Promos</h3>
    <div class="table-responsive">
      <table class="table" id="table-promos">
        <thead>
          <th>Code</th>
          <th>Maximum uses</th>
          <th>Tickets</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <%= render @event.promos %>
          <%= render "promos/form", object: @event.promos.build, button_name: "Add Promo" %>
        </tbody>
      </table>
      <div id='promo-errors' class='form-errors'>
      </div>
    </div>
  </div>
</div>
