<!DOCTYPE html>
<html>
  <head>
    <title>Student Kick-Off vzw<%= if content_for?(:title_tag) then yield(:title_tag) end %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= render partial: "layouts/ga" if Rails.env.production? %>
    <%= csrf_meta_tags %>

    <% if content_for?(:og_title) %>
      <meta property="og:title" content="<%= yield(:og_title) %>" />
    <% end %>
    <% if content_for?(:og_url) %>
      <meta property="og:url" content="<%= yield(:og_url) %>" />
    <% end %>
    <% if content_for?(:og_description) %>
      <meta property="og:description" content="<%= yield(:og_description) %>" />
    <% end %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="https://styleguide.ugent.be/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://styleguide.ugent.be/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://styleguide.ugent.be/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://styleguide.ugent.be/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://styleguide.ugent.be/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://styleguide.ugent.be/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://styleguide.ugent.be/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://styleguide.ugent.be/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://styleguide.ugent.be/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://styleguide.ugent.be/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://styleguide.ugent.be/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://styleguide.ugent.be/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://styleguide.ugent.be/favicon-16x16.png">
    <link rel="icon" sizes="16x16 32x32" href="https://styleguide.ugent.be/favicon.ico">
    <link rel="manifest" href="https://styleguide.ugent.be/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="fluid-container">
      <div class="row">
        <%= render partial: "layouts/header" %>
      </div>
    </div>

	<%#= render partial: "layouts/login", locals: {classes: "hidden-xs navbar-right"} %>    
<div class="fluid-container main-content">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render partial: "layouts/footer" %>
  </body>
</html>
